{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <p>
            Цей вебсайт розроблено як частина наукової роботи МАН, яку виконав учень 10 класу Рівненського ліцею «Лідер» Рівненської міської ради Ковальчук Максим Олександрович.
        </p>
        <p>
            Ходом дослідження керував Жуковський Віктор Володимирович, к.т.н. доцент кафедри комп’ютерних наук та прикладної математики 
            Національного університету водного господарства та природокористування, керівник гуртка РМАНУМ
        </p>
        <p>
            GitHub репозиторій наукової роботи доступний <a style="text-decoration: none; color: #4ac1f7" href="https://github.com/THEFUNOFLDOE/MANProject">за посиланням</a>
        </p>
        <p>
            Дослідження проводились на базі обласного комунального позашкільного навчального закладу "РІВНЕНСЬКА МАЛА АКАДЕМІЯ НАУК УЧНІВСЬКОЇ МОЛОДІ"
        </p>
    </div>
    
{% endblock %}