{% extends 'UACorrectingMachine/base.html' %}

{% block content %}
    <div class="container text-center">
        <div class="row">
            <form action="{% url 'home' %}" method="post" style="margin-bottom: 1em;">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-primary" type="submit" value="Submit">Перевірити!</button>
            </form>
            <br>

            <div class="col">
                <h4>Приклад 1</h4>
                <p>Це самий лучший день</p>
                <a href="{% url 'render_example' 1 %}"><button class="btn btn-primary">Переглянути результат!</button></a>
            </div>
            <div class="col">
                <h4>Приклад 2</h4>
                <p>Степанко радий старатися хоч і страшнувато було</p>
                <a href="{% url 'render_example' 2 %}"><button class="btn btn-primary">Переглянути результат!</button></a>
            </div>
            <div class="col">
                <h4>Приклад 3</h4>
                <p>я й не думав що лінгвістика це легко</p>
                <a href="{% url 'render_example' 3 %}"><button class="btn btn-primary">Переглянути результат!</button></a>
            </div>
        </div>
    </div>
{% endblock %}