{% extends 'base.html' %}
{% load static %}

{% block styles%}
<link href="{% static 'UACorrectingMachine/css/instruction.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content%}
<div class="slideshow-container">

    <div class="mySlides emergence">
        <img src="{% static 'UACorrectingMachine\images\instruction1.png' %}" style="width:100%">
    </div>

    <div class="mySlides emergence">
        <img src="{% static 'UACorrectingMachine\images\instruction2.png' %}" style="width:100%">
    </div>

    <div class="mySlides emergence">
        <img src="{% static 'UACorrectingMachine\images\instruction3.png' %}" style="width:100%">
    </div>

    <a class="prev" onclick="plusSlides(-1)">❮</a>
    <a class="next" onclick="plusSlides(1)">❯</a>

</div>
<br>

<div style="text-align:center">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
</div>

<script src="{% static 'UACorrectingMachine\js\instruction.js' %}"></script>
{% endblock %}